<!DOCTYPE html>
<html lang="en">

<head>
  <title>MarcFlight</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <!-- Note with this many scripts in a real-world application you would minify them and combine them into one file -->
  <script src="scripts/searchapi.js"></script>
  <script src="scripts/airportselector.js"></script>
  <script src="scripts/dateselector.js"></script>
  <script src="scripts/searchform.js"></script>
  <script src="scripts/searchdatecontext.js"></script>
  <script src="scripts/searchtabs.js"></script>
  <script src="scripts/searchresultsgenerator.js"></script>
  <script src="scripts/searchcontroller.js"></script>
</head>

<body>
  <div class="container">
    <h1>MarcFlight<small>The cheekiest flights on the web!</small></h1>

    <form class="form" id="flightForm">
      <div class="form-group">
        <label for="fromInput">From</label>
        <input name="fromInput" type="text" class="form-control" id="fromInput">
      </div>
      <div class="form-group">
        <label for="toInput">To</label>
        <input name="toInput" type="text" class="form-control" id="toInput">
      </div>
      <div class="form-group">
        <label for="departDate">Departure Date</label>
        <input name="departDate" type="text" class="form-control" id="departDate" />
      </div>
      <button id="searchButton" type="submit" class="btn btn-default form-margin">Get Flights</button>
      <img id="searchProgress" class="loading invisible" src="images/loading.gif" />
    </form>

    <ul id="flightTabHeader" class="nav nav-tabs nav-justified invisible">
    </ul>

    <div id="flightTabContent" class="tab-content invisible">
    </div>
  </div>

  <script id="tabContentTemplate" type="text/x-handlebars-template">
    <div class="tab-pane {{active}}" id="{{id}}">
      <div class="contentPlaceholder"><img class="loading" src="images/loading.gif"></img>
      </div>
    </div>
  </script>

  <script id="tabHeaderTemplate" type="text/x-handlebars-template">
    <li role="presentation" class="{{active}} {{searchDate}}"><a href="#{{id}}" data-toggle="tab">{{date}}</a></li>
  </script>

  <!-- Would put HTML templates into their own files and precompile in real world app -->
  <script id="flightTemplate" type="text/x-handlebars-template">
    <div class="row {{even}}">
      <div class="col-sm-2">
        <h3>{{airline.name}}</h3>
        <p>Code: {{airline.code}}{{flightNum}}</p>
        <p>Duration: {{flightDuration}}</p>
        <p>Plane: {{plane.shortName}}</p>
      </div>
      <div class="col-sm-3">
        <h3>{{start.cityName}}, {{start.countryCode}} ({{start.airportCode}})</h3>
        <p>{{start.airportName}}</p>
        <h2>{{start.timeOfDay}}</h2>
      </div>
      <div class="col-sm-1 to">
        <h3>to</h3>
      </div>
      <div class="col-sm-3">
        <h3>{{finish.cityName}}, {{finish.countryCode}} ({{finish.airportCode}})</h3>
        <p>{{finish.airportName}}</p>
        <h2>{{finish.timeOfDay}}</h2>
      </div>
      <div class="col-sm-3 flightPrice">
        <h1>${{price}}</h1>
      </div>
    </div>
  </script>

  <script>
    $('document').ready(function () {
      SearchController.init();
    });
  </script>
</body>

</html>