h1 small {
    display: block;
    margin: 0;
    padding: 0;
}

.even {
    background-color: #efefef;
}

#flightForm {
    padding-top: 20px;
}

#flightTabHeader {
    padding-top: 30px;
}

.row {
    text-align: center;
    border-bottom: solid 1px #dddddd;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.to {
    font-style: italic;
}

.flightPrice {
    color: #770000;
    text-decoration: underline;
}

.invisible {
    display: none;
}

.searchDate {
    font-weight: bold;
}

html { 
  overflow-y: scroll; 
}

.contentPlaceholder {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

.loading {
    width: 32px;
    height: 32px;
}

div.form-group input {
    max-width: 400px;
}

.container {
    padding-bottom: 20px;
}
